
    <h2>EDIT:</h2>

    <% if(listId){ %>

	
	    <% if(itemId){ %>
		
		        <h3>Item Edit: </h3>
		
		<% }else{ %>
	
        <h3><span><%= list.name %></span> (List#: <span id="listid"><%= list.id %></span> ) </h3>

        <ul id="list_current">
           <% list.items.forEach(function(item){ %>
                <li id="item_<%= item.id %>" class="<%= item.done ? 'item_done': 'item_not_done'; %>" >
                    <%= item.name %> | 
                    <%= item.id %> | 
                    <input class="button_done" data-item-id="<%= item.id %>" type="button" value="done">
                    <input class="button_delete" data-item-id="<%= item.id %>" type="button" value="delete">
                </li>
           <% }); %>
       </ul>

        <input id="newitem_text" type="text" value="foo">
        <input id="newitem_submit" type="submit" value="add item">
		
		<% } %>

    <% }else{ %>

       <h3>No List Id: index of lists given</h3>
       <ul>
           <% lists.forEach(function(list){ %>
                <li><a href="/edit?l=<%= list.id %>"><%= list.name %></a></li>
           <% }); %>
       </ul>

    <% } %>

    <script src="/theme/js/edit.js"></script>